# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Chizi Victor
	email = chiziwokoma@gmail.com
[init]
	defaultBranch = main
[pull]
	rebase = false
[alias]
	tree = ! git ls-tree --full-name --name-only -t -r HEAD | sed -e \"s/[^-][^\\/]*\\//   |/g\" -e \"s/|\\([^ ]\\)/|-- \\1/\"
